html{
text-align:center;
}

div{
background: url('the-flatiron-building.png')blue;
}

h1{
font-family:Helvetica;
font-size:70px;
font-weight:bold;
color:white;
}

#Process{
font-family:Helvetica;
font-size:32px;
font-weight:bold;
}

#Designed{
font-family:Helvetica;
font-size:23px;
font-weight:bold;
color:white;
background: url('the-flatiron-building.png')blue;
}

h3{
font-family:Helvetica;
font-size:18px;
color:white;
}

.Subheading{
font-family:Helvetica;
font-size:23px;
font-weight:bold;
}

.focus{
font-family:Helvetica;
font-size:14px;
}

.Footer{
text-align:left;
background-color:dimgray;
}

#Footer1{
font-family:Helvetica;
font-size:11px;
color:white;
}

#Footer2{
font-family: Helvetica;
font-size:18px;
color:white;
}
